<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="@(Context.Session.GetString("Tema"))">
<head>
    <title>@ViewData["Title"]</title>
    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/doc.css" asp-append-version="true" />
    @RenderSection("head", required: false)
</head>

<body>
    @RenderBody()


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- 2️⃣ jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="~/js/JQueryScripts.js"></script>
    <script src="~/js/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
