@page
@functions {
    private class Item
    {
        public string Codigo { get; set; }
        public string Descricao { get; set; }
        public decimal Valor { get; set; }
        public DateTime DataInclusao { get; set; }
    }

    public class Quantidade
    {
        public string TotalRegistros { get; set; }
    }

    List<Item> itens = new List<Item>();
    Exception exception = null;
    Quantidade quantidade = null;
    string quantidadePorPagina = null;
    string pagina = null;
    string pesquisa = null;
    double valorInicio = 0;
    double valorFim = 0;

    private void AlimentarVariaveis()
    {
        if (HttpContext.Request.HasFormContentType)
        {
            quantidadePorPagina = Util.ChecaNulo(Request.Form["quantidadePorPagina"]);
            pagina = Util.ChecaNulo(Request.Form["pagina"]);
            pesquisa = Util.ChecaNulo(Request.Form["pesquisa"]);

            if (!string.IsNullOrEmpty(Request.Form["valorInicio"]))
            {
                valorInicio = Convert.ToDouble(Request.Form["valorInicio"]);
            }

            if (!string.IsNullOrEmpty(Request.Form["valorFim"]))
            {
                valorFim = Convert.ToDouble(Request.Form["valorFim"]);
            }
        }
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@QuantidadePorPagina", quantidadePorPagina);
        parametros.Add("@Pagina", pagina);
        parametros.Add("@Pesquisa", pesquisa);
        parametros.Add("@ValorInicio", valorInicio);
        parametros.Add("@ValorFim", valorFim);

        itens = new Dao().ExecutarProcedureList<Item>("stp_ABP_Paginacao_Sel", parametros);
    }

    private void ConsultarQuantidade()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", 1);
        parametros.Add("@Pesquisa", pesquisa);
        parametros.Add("@ValorInicio", valorInicio);
        parametros.Add("@ValorFim", valorFim);

        quantidade = new Dao().ExecutarProcedureList<Quantidade>("stp_ABP_Paginacao_Sel", parametros).FirstOrDefault();
    }
}

@{
    Layout = null;
    try
    {
        AlimentarVariaveis();
        Consultar();
        ConsultarQuantidade();
    }
    catch (Exception ex)
    {
        exception = ex;
    }
}

@if (exception != null)
{
    <div class="alert alert-warning">@exception.Message</div>
}
else
{
    if (itens != null && itens.Count > 0)
    {
        <span style="display:none;" id="totalRegistros">@quantidade.TotalRegistros</span>
        <table class="table table-striped table-hover table-borderless table-scroll">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in itens)
                {
                    <tr>
                        <td>@item.Codigo</td>
                        <td>@item.Descricao</td>
                        <td>@item.Valor.ToString("N2", new System.Globalization.CultureInfo("pt-BR"))</td>
                        <td>@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-light">Nenhum registro encontrado.</div>
    }
}
