@page
@model Treinamento8_0.Pages.ControleAcesso.IndexModel

@using Microsoft.AspNetCore.Http;

@functions{
    public class Operador
    {
        public string IdOperador { get; set; }
        public string Nome { get; set; }
        public string Theme { get; set; }
    }
    private class Sessao
    {
        public string IdSessao { get; set; }
        public string IdOperador { get; set; }
        public string Tema { get; set; }

    }

    string acao = null;
    string cpf = null;
    string senha = null;
    bool redirect = false;

    private void AlimentarVariaveis()
    {
        if (HttpContext.Request.HasFormContentType)
        {
            acao = Util.ChecaNulo(Request.Form["acao"]);
            cpf = Util.ChecaNulo(Request.Form["cpf"]);
            senha = Util.ChecaNulo(Request.Form["senha"]);
        }
    }

    private void AbreSessao()
    {
        string? origem = HttpContext.Connection.RemoteIpAddress?.ToString();

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@Cpf", cpf);
        parametros.Add("@Senha", senha);
        parametros.Add("@ViaIp", Util.ChecaNulo(origem));

        Dao dao = new Dao();
        // Método passado nas aulas utilizado para executar procedures com retorno foi o ExecutarProcedureList. O ExecutarProcedure é utilizado apenas para ações que alterem o banco.
        Sessao sessao = dao.ExecutarProcedureList<Sessao>("stp_ABP_AbreSessao", parametros).FirstOrDefault();

        if (sessao == null)
        {
            throw new Exception("Não foi possível abrir a sessão");
        } else
        {
            HttpContext.Session.SetString("idSessao", sessao.IdSessao);
            HttpContext.Session.SetString("IdOperador", sessao.IdOperador);
            HttpContext.Session.SetString("Tema", sessao.Tema);
            redirect = true;
        }


    }
}

@{
    AlimentarVariaveis();

    if (acao == "A")
    {
        Util.ExceptionHandler(() =>
        {
            AbreSessao();
            ModelState.AddModelError("alert-success", "Operação realizada com sucesso! Aguarde o redirecionamento.");
        }, this.ModelState);
    }
}

@section head {
    @if (redirect)
    {
        <meta http-equiv="refresh" content="3;url=/" />
    }
}

<body class="d-flex flex-column">
    <form name="form1" method="post" class="min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light">
        <input type="hidden" name="acao" value="@acao" />

        @await Html.PartialAsync("Shared/Helpers/_MakeAlert")

        <div class="text-center mt-4 mx-4">
            <div class="navbar-brand pb-2">
                <img class="mb-3" style="width: 35%;" src="~/img/logo_nova.png" />
            </div>
            <p class="text-muted small">Faça login para acessar sua conta</p>
        </div>

        <div class="card shadow-sm border-0 p-4" style="max-width:450px; width:100%; border-radius: 12px;">
            <div class="mb-3 mx-4">
                <label for="cpf" class="form-label fw-semibold small text-secondary">CPF</label>
                <input id="cpf"
                       class="form-control cpf"
                       type="text"
                       name="cpf"
                       placeholder="000.000.000-00"
                       value="@cpf" />
            </div>

            <div class="mb-4 mx-4">
                <label for="senha" class="form-label fw-semibold small text-secondary">Senha</label>
                <div class="input-group">
                    <input id="senha"
                           class="form-control"
                           type="password"
                           name="senha"
                           placeholder="Senha" />
                </div>
            </div>

            <div class="d-grid gap-2 mx-4">
                <button class="btn btn-primary py-2 fw-bold" onclick="acessar()">
                    Acessar Sistema
                </button>
            </div>

            <div class="text-center my-4 mx-4">
                <a href="#" class="text-decoration-none small">Esqueceu a senha?</a>
            </div>
        </div>

    </form>
    <div asp-validation-summary="All" class="text-danger"></div>

    <script>
        function acessar() {
            document.form1.acao.value = "A";
            document.form1.submit();
        }
    </script>
</body>